<p>reactive-form works!</p>

<form [formGroup]="formData" (ngSubmit)="onSubmit()">
  <label for="">
    Name: <input type="text" formControlName="name" />
    <div *ngIf="!formData.get('name')?.valid" style="color: red">
      Name is required
    </div>
     </label
  ><br />
  <label for="">
    Age: <input type="text" formControlName="age" />
    <div *ngIf="!formData.get('name')?.valid" style="color: red">
      age is required
    </div>
</label>
  <br />
  <!-- <button type="submit" (click)="submitForm()">Submit</button> -->
  <button type="submit" [disabled]="!formData.valid">Submit2</button>
</form>
