<div class="test">
  <h3>Fruits</h3>
  <div *ngFor="let trai of fruits; let i = index">
    <li>{{ i + 1 }}. {{ trai }}</li>
  </div>
  <br />
  <table class="table">
    <tr>
      <th>thu tu</th>
      <th>Ten</th>
      <th>Gia</th>
      <th>Dai Ha Gia</th>
    </tr>
    <tr *ngFor="let trai of fruits2; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ trai.ten | uppercase }}</td>
      <td class="right">
        <span [ngClass]="{ 'so-am': trai.gia < 0 }">{{
          trai.gia | currency: "USD":"symbol":"1.2"
        }}</span>
      </td>
      <td>
        <span>{{ trai.haGia | onSale }}</span>
      </td>
    </tr>
  </table>
</div>
